.itemsPage {
    margin-top:15px;
    margin-left:25px;
    margin-bottom:25px;
    padding:15px;
    box-shadow: 3px 3px 6px 6px #ccc;
    height: 60vh;
    overflow: auto;
    border-radius: 5px;
    &__button{
        background: #22cdc1;
        border: #22cdc1;
        color:#fff;
    }
    &__customItems{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
}

.itemsPageForm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:15px;
    padding-left:0;
}

.itemsPageForm input {
    border-radius: 2px;
    padding:5px 35px;
}

